.flash-msg {
	display: none;
	background-color: #009CB4;
	opacity: 0.8;
	font-size: 27px;
	font-family: UbuntuLight, sans-serif;
	color: white;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	width: 100%;
	margin: 0;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
}

.clear {
	clear: both;
}

.display-none {
	display: none;
}

/*******************************************/

.sa-menu {
	background-image: url('../img/z.png');
	background-repeat: no-repeat;
	background-position: center right;
	background-size: 30px;
	background-color: rgba(255, 255, 255, 0.3);
	display: block;
	z-index: 99999;
	position: fixed;
	top: 10px;
	left: -155px;
	width: 140px;
	padding: 10px 30px 10px 15px;
	border: 2px solid rgba(149, 27, 129, 0.5);
	border-left: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	-webkit-box-shadow: 0 0 10px rgb(0, 0, 0); -moz-box-shadow: 0 0 10px rgb(0, 0, 0); box-shadow: 0 0 10px rgb(0, 0, 0);
	-webkit-transition: all 1s; -moz-transition: all 1s; -ms-transition: all 1s; -o-transition: all 1s; transition: all 1s;
}

.sa-menu:hover {
	border: 2px solid rgba(149, 27, 129, 1);
	border-left: none;
	background-color: rgba(255, 255, 255, 1);
	background-image: none;
	padding-right: 15px;
	left: 0;
	-webkit-transition: all 1s; -moz-transition: all 1s; -ms-transition: all 1s; -o-transition: all 1s; transition: all 1s;
}

.sa-menu h3 {
	margin: 0 0 5px 0;
	text-align: center;
	color: black;
	font-size: 16px;
}

.sa-menu hr {
	width: 100%;
	margin: 5px 0;
	padding: 0;
	border-top: 2px solid #009BB2;
	clear: both;
}

.sa-button {
	background: white;
	color: black;
	border: 2px solid #80217E;
	width: 125px;
	font-family: UbuntuRegular, sans-serif;
	font-size: 14px;
	text-align: center;
	padding: 5px;
	float: left;
	margin: 0 0 5px 0;
	-webkit-transition: all 200ms; -moz-transition: all 200ms; -ms-transition: all 200ms; -o-transition: all 200ms; transition: all 200ms;
}

.sa-button:hover {
	background: #80217E;
	color: white;
	-webkit-transition: all 200ms; -moz-transition: all 200ms; -ms-transition: all 200ms; -o-transition: all 200ms; transition: all 200ms;
}

.sa-button-selected {
	background: #80217E;
	color: white;
	opacity: 0.7;
}

/*close*/
.fancybox-close {
	background: url("../img/close-popup.png") no-repeat !important;
	top: 10px !important;
	right: -5px !important;
}

/*close*/
/*******************************************/

/* BEGIN FIX FANCYBOX */
.fancybox-margin {
	margin-right: auto !important;
}

.fancybox-lock {
	overflow: initial !important;
	padding-right: 17px !important;
	width: 1265px !important;
}

/* END FIX FANCYBOX */
