@font-face {
	font-family: "UbuntuRegular";
	src: url("../../../fonts/UbuntuRegular/UbuntuRegular.eot");
	src: url("../../../fonts/UbuntuRegular/UbuntuRegular.eot?#iefix") format("embedded-opentype"),
	url("../../../fonts/UbuntuRegular/UbuntuRegular.woff") format("woff"),
	url("../../../fonts/UbuntuRegular/UbuntuRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "UbuntuLight";
	src: url("../../../fonts/UbuntuLight/UbuntuLight.eot");
	src: url("../../../fonts/UbuntuLight/UbuntuLight.eot?#iefix") format("embedded-opentype"),
	url("../../../fonts/UbuntuLight/UbuntuLight.woff") format("woff"),
	url("../../../fonts/UbuntuLight/UbuntuLight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
