.footer {
	position: absolute;
	width: 1263px;
	height: 93px;
	background-color: #575757;
}

.footer p a {
	color: white;
}

#SmallLogo {
	float: left;
	margin: 30px 0 10px 80px;
	background: url("../../../img/melodyOfLoveSmall.svg") no-repeat;
	width: 272px;
	height: 52px;
	background-size: 100% 100%;
}

.footer ul li, .lang {
	list-style-type: none;
	float: left;
}

.footer div ul .social:first-child {
	margin-left: 183px;
}

.footer div ul .social {
	margin-left: 11px;
	margin-top: 12px;
}

.footer div p {
	float: right;
	margin-top: 5px;
	margin-right: 80px;
	font-size: 15px;
	font-family: MyriadProRegular, sans-serif;
	color: white;
}

.footer-social-buttons {
	/* BEGIN hide social buttons */
	opacity: 0;
	/*   END hide social buttons */
}
