html {
	height: 100%;
	width: 1263px;
	margin: -8px auto;
	font-family: UbuntuRegular, sans-serif;
}

body {
	height: 100%;
	width: 1263px;
	margin: 0 auto;
}

.wrapper {
	min-height: 100%;
	position: relative;
}

.header {
	height: 198px;
	width: 1263px;
	background: url("../../../img/header-inbox.png");
	background-size: 1263px 198px;
}

a {
	text-decoration: none;
	color: white;
}

ul {
	list-style-type: none;
}

.header div > img {
	margin-left: 47px;
	margin-top: 34px;
	float: left;
}

.header .brutto {
	float: right;
	margin-top: 46px;
	height: 30px;
	width: 426px;
}

.header .brutto .social {
	/* BEGIN hide social buttons */
	opacity: 0;
	/*   END hide social buttons */
	float: left;
	width: 250px;
	height: initial;
}

.header .brutto .social div {
	float: left;
	padding-left: 17px;
}

.lang {
	font-size: 18px;
	float: right !important;
	border: 1px solid #4D97A7;
	text-transform: uppercase;
	width: 130px;
	height: 42px;
	margin-right: 20px;
}

.ru {
	border-right: 1px solid #4D97A7;
	width: 20px;
	float: left;
	margin-left: 15px;
	margin-top: 10px;
	padding-right: 28px;
	color: #4D97A7;
}

.ru:hover {
	color: #80217E;
}

.eng {
	float: right;
	width: 19px;
	color: #4D97A7;
	margin-right: 34px;
	margin-top: 10px;
	padding-left: 12px;
}

.eng:hover {
	color: #80217E;
}

.button_header {
	height: 42px;
	width: 942px;
	padding-top: 117px;
	padding-left: 301px;
}

.header .button_header ul li {
	float: left;
}

.header .button_header ul li:nth-child(2), .header .button_header ul li:nth-child(3) {
	padding-left: 36px;
}

.header .button_header ul li:last-child {
	float: right;
}

.button_header .button {
	background: transparent;
	border: 2px solid #80217E;
	padding: 6px 30px;
	font-family: UbuntuRegular, sans-serif;
	font-size: 23px;
	color: black;
	text-align: center;
	float: left;
}

.header .button_header ul li:first-child a {
	width: 178px;
	height: 34px;
	padding: 5px 0 0 0;
}

.header .button_header ul li:nth-child(2) a {
	padding: 6px 54px;
}

.header .button_header ul li:nth-child(3) a {
	padding: 6px 46px;
}

.button_header .button:hover {
	background: #80217E;
	color: white;
}

#last_button {
	background: transparent;
	border: 1px solid #009BB2;
	padding: 10px 6px;
	color: black;
	font-size: 18px;
}

#last_button > img {
	margin-left: 8px;
	margin-top: -4px;
}

#last_button > div {
	width: 77px;
	height: 20px;
	margin-left: 43px;
}

#last_button:hover {
	color: black;
}

.head {
	height: 36px;
	width: 176px;
	text-align: center;
	border: 2px solid #80217E;
	float: left;
	font-family: UbuntuRegular, sans-serif;
}
