.menu {
	float: left;
	width: 330px;
	height: 998px;
	margin-left: -40px;
	font-family: UbuntuRegular, sans-serif;
	clear: right;
}

.menu li {
	padding-left: 66px;
}

.menu .main_line {
	background-color: rgba(85, 151, 185, 0.9);
	height: 30px;
	font-size: 23px;
	color: #FFFFFF;
	padding-top: 7px;
	padding-bottom: 7px;
	margin-top: 17px;
	margin-bottom: 16px;
}

.menu .extra_line {
	position: relative;
	font-size: 18px;
	padding-top: 8px;
}

.menu .extra_line a {
	color: black;
	-webkit-transition: all 1500ms; -moz-transition: all 1500ms; -ms-transition: all 1500ms; -o-transition: all 1500ms; transition: all 1500ms;
}

.menu .extra_line a:hover {
	color: #009BB2;
	-webkit-transition: all 200ms; -moz-transition: all 200ms; -ms-transition: all 200ms; -o-transition: all 200ms; transition: all 200ms;
}

.last {
	padding-bottom: 10px;
}

.menu .line_img {
	position: absolute;
	width: 22px;
	height: 20px;
	padding-left: 33px;
	padding-top: 10px;
	z-index: 1;
}

.menu .line_img p {
	border-radius: 8px;
	width: 16px;
	height: 16px;
	background: #80217E;
	position: absolute;
	z-index: 2;
	margin-left: 15px;
	margin-top: -30px;
	text-align: center;
	font-size: 11px;
	color: white;
	padding-top: 1px;
}

.menu-mails-cnt,
.menu-chat-msgs-cnt {
	display: none;
}


.menu-chat-msgs-cnt-news {
	position: absolute;
    top: 34%;
    margin: 0;
    border-radius: 8px;
    width: 16px;
    height: 16px;
    line-height: 15px;
    background: #80217E;
    position: absolute;
    z-index: 2;
    /* margin-left: 15px; */
    /* margin-top: -30px; */
    text-align: center;
    font-size: 11px;
    right: 50%;
    color: white;
    padding-top: 1px;
}