.timer {
	font-family: UbuntuRegular, sans-serif;
	text-transform: uppercase;
	width: 69px;
	color: #009BB2;
	font-size: 26px;
	position: absolute;
	right: 55px;
	top: 237px;
}

.timer-clock {
	background: url("../../../img/timer.png") no-repeat;
	background-size: 69px 51px;
	width: 69px;
	height: 51px;
	float: right;
	margin-top: -17px;
	margin-right: -35px;
}

.timer-clock p {
	font-family: UbuntuRegular, sans-serif;
	color: white;
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
}
