@import "inc/header.css";
@import "inc/timer.css";
@import "inc/menu.css";
@import "inc/footer.css";
@import "inc/fonts.css";

.content {
	width: 1263px;
	overflow: hidden;
	padding-bottom: 80px;
	margin-top: 30px;
}

.input {
	margin-top: 50px;
}

.profile {
	width: 600px;
	height: 730px;
	margin-left: 85px;
	float: left;
}

.h1 {
	color: #009BB2;
	font-family: UbuntuRegular, sans-serif;
	font-size: 26px;
	margin-top: 11px;
	height: 22px;
	text-transform: uppercase;
	font-weight: normal;
}

h1, h3 {
	color: #009BB2;
	font-family: UbuntuRegular, sans-serif;
}

div h1 {
	font-size: 26px;
	margin-top: 11px;
	height: 1px;
	text-transform: uppercase;
	font-weight: normal;
}

label, p, .ok {
	font-family: UbuntuLight, sans-serif;
	font-size: 11px;
	color: black;
}

.left_input {
	float: left;
}

.right_input, .ok {
	float: right;
	margin-right: 47px;
}

.right_input:nth-child(3) {
	margin-top: 20px;
}

input {
	border: 1px solid #009BB2;
	width: 220px;
	height: 19px;
	padding-left: 11px;
}

.ok {
	padding: 1px 56px;
	border: 1px solid #80217E;
	background: #FFFFFF none repeat scroll 0% 0%;
	text-align: center;
	margin-top: 20px;
	font-family: UbuntuLight, sans-serif;
	font-size: 14px;
}

.ok:hover {
	background: #80217E;
	color: white;
}

/*END CONTENT*/

.errors ul {
	margin: 0;
	padding: 0 0 20px 20px;
	color: #80217E;
	list-style-type: disc;
	font-size: 0.8em;
}
