@import "inc/header.css";
@import "inc/footer.css";
@import "inc/fonts.css";

.content {
  width: 1263px;
  overflow: hidden;
}

.chat {
  width: 1263px;
  overflow: hidden;
  clear: both;
}

.header_chat {
  height: 46px;
  width: 1263px;
  background-color: #5597B9;
}

#close, #turn {
  margin-right: 22px;
  margin-top: 10px;
  float: right;
  width: 22px;
  height: 22px;
}

#close {
  background: url("../../img/close-white.png");
}

#turn {
  background: url("../../img/turn-white.png");
}

/*START SIDEBAR*/
.sidebar {
  float: left;
  width: 210px;
  height: 70%;
}

.status-link {
  color: black;
}

.status {
  height: 44px;
  width: 194px;
}

.status:hover {
  background-color: #DDEAF1;
}

.offline, .online, .small_avatar, .name, .send, .clock {
  float: left;
  height: 40px;
  width: 40px;
}

.online, .offline {
  border-radius: 8px;
  border: 1px solid #90FF3C;
  width: 10px;
  height: 10px;
  margin-top: 17px;
  margin-left: 5px;
}

.online {
  background: #90FF3C;
}

.small_avatar {
  position: relative;
  margin-left: 5px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 32px;
  width: 32px;
  margin-top: 7px;
}

.small_avatar div {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  font-size: 11px;
  font-weight: bold;
  background-color: #5597B9;
  border-radius: 2px;
  padding: 1px 4px;
}

.name {
  width: 113px;
  margin-left: 5px;
  font-family: UbuntuLight, sans-serif;
  font-size: 14px;
}

.send, .close {
  height: 17px;
  width: 17px;
  margin-top: 15px;
}

.send {
  background: url("../../img/send-purple.png") no-repeat;
}

.close {
  background: url("../../img/close-purple.png") no-repeat;
}

.clock {
  background: url("../../img/clock.png") no-repeat;
  width: 23px;
  height: 23px;
  margin-left: 21px;
  margin-top: 28px;
  float: left;
}

.history_text {
  font-family: UbuntuRegular, sans-serif;
  font-size: 18px;
  color: #5597B9;
  float: left;
  margin-left: 20px;
  margin-top: 28px;
  width: 65px;
  height: 20px;
}

.history_text a {
  color: #5597B9;
  text-decoration: none;
}

/*END SIDEBAR*/

/*START CHAT*/
.main_window {
  float: left;
  width: 836px;
  border-left: 1px solid #5597B9;
  border-right: 1px solid #5597B9;
  min-height: 613px;
}

.header_window {
  width: 837px;
  height: 110px;
}

.info {
  width: 450px;
  height: 66px;
  float: left;
  padding-left: 35px;
  padding-top: 22px;
}

.info .big_avatar {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 78px;
  width: 78px;
  float: left;
}

.contat_info {
  width: 334px;
  height: 66px;
  float: left;
  margin-left: 20px;
  font-size: 13px;
  font-family: UbuntuRegular, sans-serif;
  line-height: 17px;
}

.name_girl, .age {
  color: #951B81;
}

.name_girl {
  font-size: 18px;
}

.gifts {
  float: right;
  width: 215px;
  height: 40px;
  padding-top: 42px;
  padding-right: 18px;
}

.gifts .send_center {
  float: left;
  margin-left: 20px;
}

.gifts .send_center:first-child {
  margin-top: 4px;
}

#scroller {
  position: relative;
  overflow-y: scroll;
  width: 836px;
  background: linear-gradient(to bottom, #F3FAFB, #FFFFFF);
  height: 397px;
}

.partner {
  width: 799px;
  height: 25px;
  margin-left: 16px;
  padding-top: 15px;
  clear: both;
}

.chat_avatar {
  float: left;
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  clear: right;
}

.letter {
  float: left;
  width: 610px;
  margin-left: 33px;
  background: #E4F0F4;
  font-size: 14px;
  font-family: UbuntuLight, sans-serif;
  padding: 10px 20px;
  word-wrap: break-word;
}

.letter img {
  width: 25px;
}

.time {
  float: right;
  font-size: 11px;
  width: 52px;
  height: 21px;
  color: #BBBDBD;
  margin-right: 13px;
  padding-top: 10px;
}

.you {
  float: right;
  margin-top: 15px;
  width: 800px;
}

.you .time {
  float: right;
}

.you .letter {
  background: #ECE4EF;
  width: 500px;
  float: right;
  margin-right: 27px;
}

.textarea {
  width: 837px;
  font-family: UbuntuLight, sans-serif;
  margin: 19px 0 6px 0;
  padding-bottom: 20px;
  position: relative;
}

#chatMyMsgBlock {
  width: 658px;
  position: relative;
  border: 1px solid #5597B9;
  margin-left: 18px;
  margin-bottom: 17px;
  overflow: hidden;
  padding: 4px 45px 4px 4px;
}

.textarea textarea {
  width: 100%;
  min-height: 31px;
  padding: 0;
  margin: 0;
  border: none;
  color: #5597B9;
  resize: none;
  overflow: hidden;
}

textarea:focus {
  outline: none;
}

/*textarea {*/
/*width: 588px;*/
/*border: 1px solid #5597B9;*/
/*/!*height: 40px;*!/*/
/*height: 100%;*/
/*min-height: 22px;*/
/*max-height: 60px;*/
/*padding: 10px;*/
/*color: #5597B9;*/
/*resize: vertical;*/
/*float: left;*/
/*margin-left: 92px;*/
/*padding-right: 40px;*/
/*overflow: hidden;*/
/*}*/

#chatSendMsgForm button {
  height: 44px;
  width: 70px;
  border: 1px solid #951B81;
  background-color: #951B81;
  color: white;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 0;
}

/*END CHAT*/

/*START RIGHT MENU*/
.right_menu {
  width: 215px;
  height: 500px;
  float: right;
}

.girls {
  height: 242px;
  width: 174px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  float: left;
  margin-left: 23px;
  /*margin-top: 23px;*/
  margin-bottom: 23px;
  font-family: UbuntuRegular, sans-serif;
  font-size: 15px;
  color: white;
}

#girls-panel {
  height: 300px;
}

.name_right {
  background: #6A1E69;
  width: 174px;
  height: 22px;
  margin-top: 198px;
  opacity: 0.8;
}

.name_right .names {
  float: left;
  padding-left: 15px;
}

.name_right .old {
  float: right;
  padding-right: 13px;
}

.form {
  background: #222429;
  width: 174px;
  height: 22px;
  opacity: 0.8;
}

.send-right {
  float: left;
  width: 18px;
  height: 11px;
  margin-left: 15px;
  padding-top: 2px;
}

.send-right:last-child {
  float: right;
  margin-right: 9px;
}

/*END RIGHT MENU*/

.sm-button {
  background-image: url('../../img/sm/sm_button.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 15px;
  position: absolute;
  right: 121px;
  top: 7px;
  opacity: 0.6;
  z-index: 1;
  transition: 500ms opacity;
}

.sm-button:hover {
  opacity: 1;
  transition: 500ms opacity;
}

.sm-area {
  display: none;
  position: absolute;
  right: 105px;
  top: -364px;
  border-radius: 5px;
  width: 454px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
  cursor: default;
}

.sm-area img {
  width: 25px;
  opacity: 0.7;
  padding: 2px;
  cursor: pointer;
  transition: 100ms opacity;
}

.sm-area img:hover {
  opacity: 1;
  border-radius: 2px;
  transition: 100ms opacity;
}

.sm-area:after {
  top: 100%;
  right: 25px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-top-color: rgba(0, 0, 0, 0.8);
  border-width: 7px;
  margin-left: -7px;
}

.msg-size {
  position: absolute;
  right: 20px;
  top: 60px;
  text-align: center;
  font-size: 10px;
  width: 70px;
  font-weight: bold;
  opacity: 0.5;
  cursor: default;
}

/*******************************/

.chat-partner-status {
  -webkit-animation: chat-partner-status 1.5s linear infinite;
  animation: chat-partner-status 1.5s linear infinite;
  margin-left: 15px;
  font-size: 14px;
}

@-webkit-keyframes chat-partner-status {
  0% {
    color: rgba(85, 151, 185, 1);
  }
  50% {
    color: rgba(85, 151, 185, 0.3);
  }
  100% {
    color: rgba(85, 151, 185, 1);
  }
}

@keyframes chat-partner-status {
  0% {
    color: rgba(85, 151, 185, 1);
  }
  50% {
    color: rgba(85, 151, 185, 0.3);
  }
  100% {
    color: rgba(85, 151, 185, 1);
  }
}

/*******************************/

.start-chat-button {
  border: 2px solid #80217E;
  padding: 6px 30px;
  font-family: UbuntuRegular, sans-serif;
  font-size: 23px;
  float: left;
  background: #80217E;
  color: white;
  text-align: center;
  width: 30%;
  margin-left: 30%;
}

.start-chat-button-disabled {
  border: 2px solid #80217E;
  padding: 6px 30px;
  font-family: UbuntuRegular, sans-serif;
  font-size: 23px;
  float: left;
  background: #80217E;
  color: white;
  text-align: center;
  width: 30%;
  margin-left: 30%;
  opacity: 0.5;
  cursor: default;
}

.stop-chat-button {
  border: 2px solid #80217E;
  padding: 2px 30px;
  font-family: UbuntuRegular, sans-serif;
  font-size: 16px;
  float: left;
  background: #80217E;
  color: white;
  text-align: center;
}

.select-partner-text {
  -webkit-animation: select-partner-text 2s linear infinite;
  animation: select-partner-text 2s linear infinite;
  color: #4D97A7;
  text-transform: uppercase;
  font-size: 25px;
  text-align: center;
  padding-top: 50px;
  cursor: default;
}

@-webkit-keyframes select-partner-text {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes select-partner-text {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.8;
  }
}

.name p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.online-header {
  display: block;
  line-height: 50px;
  border: 2px solid #80217E;
  color: #000;
  text-align: center;
}