@import "inc/header.css";
@import "inc/timer.css";
@import "inc/menu.css";
@import "inc/footer.css";
@import "inc/fonts.css";

.content {
	width: 1263px;
	overflow: hidden;
	padding-bottom: 80px;
	margin-top: 30px;
}

.profile {
	width: 885px;
	height: 100%;
	margin-left: 85px;
	float: left;
}

.h1 {
	color: #009BB2;
	font-family: UbuntuRegular, sans-serif;
	font-size: 26px;
	margin-top: 11px;
	height: 22px;
	text-transform: uppercase;
	font-weight: normal;
}

.main {
	float: right;
	height: 100%;
	width: 885px;
	margin-left: 82px;
}

.main .inbox:last-child {
	margin-top: 40px;
}

.inbox {
	margin-top: 23px;
	height: 260px;
	width: 900px;
	margin-bottom: 10px;
}

hr {
	width: 669px;
	margin-left: 0;
	height: 1px;
	border: none;
	border-top: 1px solid #009BB2;
}

.avatar {
	width: 175px;
	height: 244px;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	float: left;
}

.online {
	background: rgba(107, 32, 107, 0.8);
	height: 22px;
	color: white;
	margin-top: 198px;
}

.online p {
	text-align: center;
	padding-top: 3px;
	font-family: UbuntuRegular, sans-serif;
	font-size: 13px;
}

.info {
	width: 477px;
	height: 244px;
	float: right;
	margin-right: 231px;
}

.name {
	color: #009BB2;
	font-family: UbuntuRegular, sans-serif;
	margin-top: -20px;
	height: 110px;
}

.name a {
	color: #009BB2;
}

.id {
	height: 20px;
	margin-top: 26px;
}

.name .id h2 {
	text-transform: uppercase;
	padding-top: 10px;
	margin-top: -26px;
}

.name .id_number {
	height: 20px;
	margin-top: -35px;
	margin-left: 34px;
	font-weight: normal;
	font-size: 18px;
}

.age, .mail, .delete_button, .read_button {
	font-family: UbuntuLight, sans-serif;
}

.age {
	height: 20px;
	margin-top: 45px;
}

.age .age_number {
	float: right;
}

.sent_button, .read_button {
	float: right;
	background: transparent;
	border: 1px solid #80217E;
	margin-top: -111px;
	width: 44px;
	height: 21px;
}

.sent_button {
	width: 98px;
	height: 22px;
	text-align: center;
	background: rgba(85, 151, 185, 0.9);
	color: white;
	border: 0;
}

.delete_button:hover, .read_button {
	background: #80217E;
	color: white;
}

button {
	cursor: pointer;
}

.read_button {
	background-color: #80217E;
	color: white;
	width: 98px;
	height: 22px;
	text-align: center;
	margin-top: -42px;
	font-size: 17px;
}

.delete_button {
	float: right;
	background: transparent;
	border: 1px solid #80217E;
	margin-top: -42px;
	width: 94px;
	height: 24px;
	text-align: center;
	margin-right: 127px;
	font-size: 17px;
}

.mail {
	word-wrap: break-word;
	font-size: 13px;
	text-align: justify;
	color: black;
}

.bookmarkers ul {
	width: 265px;
	height: 30px;
	margin-top: 104px;
	margin-left: -58px;
}

.bookmarkers li {
	float: left;
	padding-left: 18px;
}

.bookmarkers li:first-child {
	padding-top: 6px;
}

.bookmarkers li:nth-child(3), .bookmarkers li:nth-child(4) {
	padding-top: 3px;
}

.bookmarkers li:nth-child(5) {
	padding-top: 1px;
}
