@import "inc/header.css";
@import "inc/timer.css";
@import "inc/menu.css";
@import "inc/footer.css";
@import "inc/fonts.css";

.content {
	width: 1263px;
	overflow: hidden;
	padding-bottom: 80px;
	margin-top: 30px;
}

.profile {
	width: 871px;
	margin: 0 0 40px 85px;
	float: left;
}

.h1 {
	color: #009BB2;
	font-family: UbuntuRegular, sans-serif;
	font-size: 26px;
	margin-top: 65px;
	height: 22px;
	text-transform: uppercase;
	font-weight: normal;
}

table {
	float: left;
	width: 800px;
	font-size: 18px;
	border-spacing: 10px 0;
	margin-left: -10px;
}

table th {
	color: white;
	background: #5597B9;
	font-size: 13px;
	font-weight: normal;
	padding: 5px;
	text-align: left;
}

table td {
	padding: 8px 5px;
}

table td span,
table td a {
	color: #80217E;
}

.blue {
	background: #EEF4F8;
}

.balance {
	float: left;
	width: 780px;
	text-transform: uppercase;
	color: #5597B9;
	margin-top: 38px;
	font-size: 19px;
}

.balance div:first-child {
	width: 150px;
	float: left;
	margin-top: 1px;
}

.balance div:last-child {
	padding: 1px 30px;
	float: right;
	height: auto;
	border: 1px solid #5597B9;
	text-align: center;
}

.payments_button {
	float: right;
	background: white;
	color: #80217E;
	height: auto;
	padding: 2px 28px;
	border: 1px solid #80217E;
	margin-top: 23px;
	margin-right: 91px;
	font-size: 13px;
}

#payForm {
	text-align: center;
}

.pay-form-h1 {
	color: #009BB2;
	font-family: UbuntuRegular, sans-serif;
	font-size: 23px;
	margin-top: 11px;
	margin-bottom: 25px;
	height: 22px;
	text-transform: uppercase;
	font-weight: normal;
	text-align: center;
}

.input-amount {
	width: 60px;
	padding: 5px;
	text-align: right;
}

#payForm input[name$="_price"] {
	height: 25px;
	padding: 0 0 0 5px;
	width: 100px;
}

#payForm button {
	background: white;
	color: #80217E;
	height: auto;
	padding: 6px 20px;
	border: 1px solid #80217E;
	font-size: 13px;
	margin-left: 20px;
	cursor: pointer;
	width: 200px;
}

#payForm button:hover,
.payments_button:hover {
	background: #80217E;
	color: white;
}

.scroller {
	position: relative;
	overflow-y: scroll;
	height: 397px;
}

.scroller .ps-scrollbar-y-rail {
	right: 75px;
}
