@import "inc/header.css";
@import "inc/timer.css";
@import "inc/menu.css";
@import "inc/footer.css";
@import "inc/fonts.css";

.content {
	width: 1263px;
	overflow: hidden;
	padding-bottom: 80px;
	margin-top: 30px;
}

#last_button {
	width: 135px !important;
}

.card {
	width: 870px;
	height: auto;
	overflow: hidden;
	margin-left: 93px;
	float: left;
	margin-top: 12px;
}

.name {
	float: left;
	text-transform: uppercase;
	color: #649FBE;
	font-size: 26px;
	width: 100%;
	margin-bottom: 33px;
}

.avatar {
	float: left;
	height: 373px;
	width: 269px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

.table {
	width: 508px;
	height: auto;
	float: left;
	margin-left: 30px;
}

.table > div {
	width: 100%;
	color: #649FBE;
	border-bottom: 1px dotted #649FBE;
	padding: 8px 2px;
	float: left;
	font-size: 14px;
}

hr {
	border-bottom: 3px dashed #649FBE;
	background: none;
}

.table div > .line_right {
	float: right;
	width: 250px;
}

.table div > .line_right span, .table div > .line_left span {
	width: 100px;
	color: black;
	float: right;
	margin-right: 20px;
}

.table div .line_left {
	float: left;
	width: 250px;
}

.gifts {
	float: left;
	margin-top: 212px;
	margin-left: 30px;
	width: 64%;
}

.gifts img {
	margin-right: 15px;
}

.about {
	float: left;
	width: 45%;
	margin-top: 29px;
	clear: left;
}

.about h3 {
	color: #951B81;
	width: 106px;
	font-weight: normal;
	font-size: 20px;
	margin: 0;
}

.about > p {
	font-size: 14px;
	text-align: justify;
	width: 94%;
}

.video {
	float: right;
	margin-top: 33px;
}

.foto {
	float: left;
	width: 100%;
	margin-top: 33px;
}

.foto img {
	float: left;
	margin-right: 72px;
}

.foto img:last-child {
	margin-right: 0;
}