@import "inc/header.css";
@import "inc/timer.css";
@import "inc/menu.css";
@import "inc/footer.css";
@import "inc/fonts.css";

.content {
	width: 1263px;
	overflow: hidden;
	padding-bottom: 80px;
	margin-top: 30px;
}

.profile {
	width: 375px;
	margin: 0 0 40px 85px;
	float: left;
}

.h1 {
	color: #009BB2;
	font-family: UbuntuRegular, sans-serif;
	font-size: 26px;
	margin-top: 11px;
	margin-bottom: 27px;
	height: 22px;
	text-transform: uppercase;
	font-weight: normal;
}

h1, h3 {
	color: #009BB2;
	font-family: UbuntuRegular, sans-serif;
}

div h1 {
	font-size: 26px;
	margin-top: 11px;
	height: 1px;
	text-transform: uppercase;
}

label, p {
	font-family: UbuntuLight, sans-serif;
	font-size: 11px;
}

.new-select-style-wpandyou select {
	border-radius: 0;
	background: transparent;
	height: 20px;
	font-size: 14px;
	border: 0;
	-webkit-appearance: none;
	width: 183px;
}

.new-select-style-wpandyou {
	overflow: hidden;
	border: 1px solid #009BB2;
	height: 20px;
	background: url("../../img/arrow.png") no-repeat right, 16px 9px;
	width: 165px;
}

.left_input, .right_input {
	width: 160px;
	height: 40px;
	margin-top: 20px;
}

input {
	width: 165px;
	height: 16px;
	border: 1px solid #009BB2;
}

textarea {
	width: 375px;
	height: 150px;
	resize: none;
	border: 1px solid #009BB2;
}

.left_input {
	float: left;
}

.right_input {
	float: right;
}

.center_input {
	clear: both;
	width: 379px;
	padding-top: 24px;
}

.center_input_no_padding {
	padding-top: 0;
}

.center_input input {
	width: 379px;
}

.update {
	width: 371px;
	margin-top: 35px;
}

h3 {
	font-size: 18px;
	clear: both;
}

.foto {
	width: 371px;
	height: 175px;
	margin-top: 20px;
}

.online {
	cursor: pointer;
	/*background-color: #C0C0C0;*/
	border: 1px solid #C0C0C0;
	height: 150px;
	width: 113px;
	float: left;
	margin: 5px 5px 5px 0;
	background-size: /*100% 100%*/ contain;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
}

.online img {
	float: right;
}

.online p {
	background-color: #80217E;
	padding: 4px 7px;
	width: 70px;
	color: white;
	margin-top: 112px;
	text-align: center;
}

.online-plus {
	background-image: url("../../img/plus-img.png");
	background-size: 50%;
	background-color: transparent;
}

.phone {
	width: 371px;
	height: 20px;
	margin-top: -20px;
}

.phone input {
	width: 153px;
}

.save {
	padding: 1px 44px;
	border: 1px solid #80217E;
	background: white;
	text-align: center;
	margin-top: 40px;
	font-family: UbuntuLight, sans-serif;
	font-size: 16px;
}

.save:hover {
	border: 1px solid #80217E;
	background: #80217E;
	color: white;
}

/*END CONTENT*/

.errors ul {
	margin: 0;
	padding: 0 0 20px 20px;
	color: #80217E;
	list-style-type: disc;
	font-size: 0.8em;
}
