@import "inc/header.css";
@import "inc/timer.css";
@import "inc/menu.css";
@import "inc/footer.css";
@import "inc/fonts.css";

.content {
	width: 1263px;
	overflow: hidden;
	height: 100%;
	margin-top: 30px;
}

.main {
	float: right;
	height: 100%;
	width: 888px;
}

.main .inbox:last-child {
	margin-top: 40px;
}

.h1 {
	color: #009BB2;
	font-family: UbuntuRegular, sans-serif;
	font-size: 26px;
	margin-top: 11px;
	height: 22px;
	text-transform: uppercase;
	font-weight: normal;
}

.inbox {
	margin-top: 23px;
	height: 260px;
	width: 900px;
	margin-bottom: 10px;
}

hr {
	width: 672px;
	color: #009BB2;
	margin-left: 0px;
}

.avatar {
	width: 175px;
	height: 244px;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	float: left;
}

.online {
	background: rgba(107, 32, 107, 0.8);
	height: 22px;
	color: white;
	margin-top: 198px;
}

.online p {
	text-align: center;
	padding-top: 3px;
	font-family: UbuntuRegular, sans-serif;
	font-size: 13px;
}

.info {
	width: 466px;
	height: 244px;
	float: right;
	margin-right: 230px;
}

.name {
	color: #009BB2;
	font-family: UbuntuRegular, sans-serif;
	margin-top: -20px;
	height: 110px;
}

.name a {
	color: #009BB2;
}

.id {
	width: 20px;
	height: 20px;
	margin-top: 26px;
}

.name .id h2 {
	text-transform: uppercase;
	padding-top: 10px;
	margin-top: -26px;
}

.name .id_number {
	height: 20px;
	margin-top: -36px;
	margin-left: 34px;
	font-weight: normal;
	font-size: 18px;
}

.age, .mail, .delete_button, .read_button {
	font-family: UbuntuLight, sans-serif;
}

.age {
	height: 20px;
	margin-top: 45px;
}

.age .age_number {
	margin-top: -20px;
	margin-left: 40px;
}

.delete_button, .read_button {
	float: right;
	background: transparent;
	border: 1px solid #80217E;
	height: 20px;
	width: 103px;
}

button {
	cursor: pointer;
}

.delete_button {
	margin-top: -111px;
	margin-right: 1px;
	color: #80217E;
}

.read_button {
	width: 150px;
	height: 23px;
	margin-top: -46px;
	margin-right: 1px;
	background-color: #80217E;
	color: white;
}

.mail {
	width: 466px;
	font-size: 13px;
	text-align: justify;
	color: black;
}

.bookmarkers ul {
	height: 30px;
	margin-top: 110px;
	margin-left: -53px;
}

.bookmarkers li {
	float: left;
	padding-left: 18px;
}

.input {
	width: 718px;
	overflow: hidden;
}

.input .massage {
	border: 1px solid #009BB2;
	text-align: left;
	padding: 5px 0 5px 5px;
	word-wrap: break-word;
}

.gifts-topic {
	color: #009BB2;
	font-size: 16px;
	margin-bottom: 0;
}

.gift {
	border: 1px solid #009BB2;
	float: left;
	margin-right: 10px;
	clear: right;
	margin-top: 15px;
}

.input div p {
	color: #009BB2;
	font-size: 18px;
	font-family: UbuntuRegular, sans-serif;
}

textarea {
	font-family: UbuntuLight, sans-serif;
	font-size: 13px;
	padding: 20px;
	width: 628px;
	height: 110px;
	min-height: 110px;
	border: 1px solid #009BB2;
	resize: vertical;
	background-color: transparent;
}

.input .button,
.button-without-msg {
	color: black;
	border: 1px solid #80217E;
	background: transparent;
	width: 153px;
	height: 21px;
	text-align: center;
	margin-top: 20px;
	float: right;
	padding-top: 3px;
}

.button-without-msg {
	float: left;
}

.input .button:hover,
.button-without-msg:hover {
	background: #80217E;
	color: white;
}

/**************************************/

.msg-size {
	text-align: center;
	font-size: 10px;
	font-weight: bold;
	opacity: 0.5;
	cursor: default;
	float: left;
	margin-top: 19px;
}

.letter-errors {
	margin: 0;
	padding: 0 0 20px 20px;
	color: #80217E;
	list-style-type: disc;
	font-size: 0.8em;
}

.image-massage {
	text-align: left;
	padding: 5px 5px 5px 5px;
	margin-top: 10px;
	border: 1px solid #009BB2;
	height: 50%;
	width: 50%;
	float: left;
}
