@import "inc/header.css";
@import "inc/timer.css";
@import "inc/menu.css";
@import "inc/footer.css";
@import "inc/fonts.css";

.content {
	width: 1263px;
	overflow: hidden;
	padding-bottom: 80px;
	margin-top: 30px;
}

.profile {
	width: 885px;
	height: 100%;
	margin-left: 85px;
	float: left;
}

.h1, h3 {
	color: #009BB2;
	font-family: UbuntuRegular, sans-serif;
}

.h1 {
	font-size: 26px;
	margin-top: 11px;
	height: 22px;
	text-transform: uppercase;
	width: 192px;
	font-weight: normal;
}

.main {
	width: 680px;
	height: 348px;
	font-family: UbuntuLight, sans-serif;
	font-size: 11px;
	margin-top: 28px;
}

label {
	height: 14px;
	width: 126px;
}

.main select, .main input {
	border: 1px solid #009BB2;
	color: #9D9D9C;
	height: 16px;
	margin-top: 4px;
	margin-bottom: 24px;
	padding: 4px;
}

.left input, .left select {
	margin-right: 20px;
}

.main select {
	height: 26px;
	padding: 2px;
	width: 179px;
}

.left {
	float: left;
	width: 260px;
	height: 191px;
}

.left input {
	width: 74px;
}

.left select {
	width: 84px;
}

.right {
	float: left;
	width: 165px;
	height: 348px;
}

button {
	padding: 3px 38px;
	border: 1px solid #80217E;
	background: #FFFFFF;
	text-align: center;
	margin-top: 43px;
	font-family: UbuntuLight, sans-serif;
	font-size: 12px;
	cursor: pointer;
}

button:hover {
	color: white;
	background: #80217E;
}

.center {
	float: left;
	width: 200px;
	height: 188px;
}

.button_cheaked {
	width: 262px;
	height: 107px;
	margin-top: -150px;
	float: left;
}

.button_cheaked p {
	margin-top: 30px;
}

.cheaked label {
	position: relative;
	top: -3px;
}

.cheaked div:first-child {
	float: left;
}

.cheaked input {
	width: 20px;
	margin: 0 5px 0 0;
}

.cheaked div:last-child {
	float: right;
}

input[type="checkbox"] + label span {
	display: inline-block;
	width: 22px;
	height: 22px;
	margin: -1px 10px 0 0;
	vertical-align: middle;
	background: url('../../img/checkbox-none.png') left top no-repeat;
	cursor: pointer;
}

input[type="checkbox"]:checked + label span {
	background: url('../../img/checkbox-ok.png') top no-repeat;
}

input[type="checkbox"] {
	display: none;
}

.main .inbox:last-child {
	margin-top: 40px;
}

.inbox {
	margin-top: 23px;
	height: 260px;
	width: 900px;
	margin-bottom: 10px;
}

hr {
	width: 669px;
	margin-left: 0;
	height: 1px;
	border: none;
	border-top: 1px solid #009BB2;
}

.avatar {
	width: 175px;
	height: 244px;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	float: left;
}

.online {
	background: rgba(107, 32, 107, 0.8);
	height: 22px;
	color: white;
	margin-top: 198px;
}

.online p {
	text-align: center;
	padding-top: 3px;
	font-family: UbuntuRegular, sans-serif;
	font-size: 13px;
}

.info {
	width: 477px;
	height: 244px;
	float: right;
	margin-right: 231px;
}

.name {
	color: #009BB2;
	font-family: UbuntuRegular, sans-serif;
	margin-top: -20px;
	height: 110px;
}

.name a {
	color: #009BB2;
}

.id {
	height: 20px;
	margin-top: 26px;
}

.name .id h2 {
	text-transform: uppercase;
	padding-top: 18px;
	margin-top: -26px;
}

.name .id_number {
	height: 20px;
	margin-top: -35px;
	margin-left: 34px;
	font-weight: normal;
	font-size: 18px;
}

.age, .mail, .delete_button, .read_button {
	font-family: UbuntuLight, sans-serif;
}

.age {
	height: 20px;
	margin-top: 45px;
}

.age .age_number {
	float: right;
}

.delete_button, .read_button {
	float: right;
	background: transparent;
	border: 1px solid #80217E;
	margin-top: -111px;
	padding: 0 29px;
}

.delete_button:hover, .read_button {
	background: #80217E;
	color: white;
}

button {
	cursor: pointer;
}

.read_button {
	background-color: #80217E;
	color: white;
	padding: 2px 37px;
	margin-top: -36px;
}

.mail {
	word-wrap: break-word;
	font-size: 13px;
	text-align: justify;
	color: black;
}

.bookmarkers ul {
	width: 265px;
	height: 30px;
	margin-top: 104px;
	margin-left: -58px;
}

.bookmarkers li {
	float: left;
	padding-left: 18px;
}

.bookmarkers li:first-child {
	padding-top: 6px;
}

.bookmarkers li:nth-child(2) {
	padding-top: 3px;
}

.errors ul {
	margin: 0;
	padding: 20px 0 0 20px;
	color: #80217E;
	list-style-type: disc;
	font-size: 0.8em;
}