@import "inc/header.css";
@import "inc/timer.css";
@import "inc/menu.css";
@import "inc/footer.css";
@import "inc/fonts.css";

.content {
	width: 1263px;
	overflow: hidden;
	height: 100%;
	margin-top: 30px;
	margin-bottom: 50px;
}

.card {
	width: 913px;
	height: auto;
	overflow: hidden;
	margin-left: 60px;
	float: left;
}

.avatar {
	width: 175px;
	height: 244px;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	float: left;
}

.online {
	background: rgba(107, 32, 107, 0.8);
	width: 175px;
	height: 22px;
	color: white;
	margin-top: 198px;
}

.online p {
	text-align: center;
}

.card > .avatar .online p {
	padding-left: 20px;
	padding-top: 3px;
	font-family: UbuntuRegular, sans-serif;
	font-size: 13px;
}

.info {
	width: 565px;
	/*height: 244px;*/
	float: left;
	margin-left: 20px;
}

.h1 {
	color: #009BB2;
	font-family: UbuntuRegular, sans-serif;
	font-size: 26px;
	margin-top: 11px;
	height: 22px;
	text-transform: uppercase;
	font-weight: normal;
	margin-bottom: 45px;
}

.info h3 {
	color: #009BB2;
	margin: -2px 0 0 0;
	padding: 0;
	width: 135px;
	float: left;
	font-weight: normal;
}

.gifts {
	float: right;
}

.gifts img {
	margin-right: 15px;
}

.age {
	width: 63px;
	height: 20px;
	margin-top: 35px;
	font-size: 15px;
	color: #009BB2;
	padding-top: 1px;
}

.age .age_number {
	float: right;
}

.about {
	float: left;
	width: 50%;
	font-size: 13px;
}

.comment {
	float: left;
	width: 100%;
	font-size: 13px;
	margin-top: 79px;
}

.comment textarea {
	width: 95%;
	height: 50px;
	resize: vertical;
	border: 1px solid #009BB2;
	color: #939393;
	padding: 3px 5px;
	margin-top: 3px;
}

.card h2, .card > p {
	float: left;
	width: 100%;
	margin: 20px 0 0 0;
	color: #80217E;
	font-weight: normal;
	font-size: 20px;
}

.card > p {
	font-size: 13px;
	color: black;
	margin-top: 10px;
}
.season{
    clear: both;
}
.checkbox {
	float: left;
	width: 179px;
	height: 178px;
	margin-right: 30px;
	margin-top: 10px;
}

.checkbox h3 {
	margin: 5px 0;
	font-weight: normal;
	color: #009BB2;
	font-size: 14px;
	height: 30px;
}

.checkbox input {
	margin-top: 7px;
	margin-left: 22px;
}

.checklist {
	list-style: none;
	margin: 0;
	padding: 0;
}

.checklist li {
	float: left;
	margin-right: 10px;
	width: 179px;
	height: auto;
	font-size: 12px;
}

.checklist li.selected .checkbox-select {
	display: none;
}

.checkbox-select {
	width: 23px;
	height: 23px;
	background: url(../img/checkbox-ok.png) no-repeat 0 0;
	float: right;
	margin-right: 9px;
}

.checklist li input {
	display: none;
}

a.checkbox-deselect {
	display: none;
	color: white;
	font-weight: bold;
	text-decoration: none;
	background: url("../img/checkbox-none.png") no-repeat;
	width: 23px;
	height: 23px;
	float: right;
	margin-right: 9px;
}

.checklist li.selected a.checkbox-deselect {
	background: url("../img/checkbox-none.png") no-repeat;
	display: block;
}

.checklist li div:nth-child(2) {
	color: #939393;
	text-decoration: line-through;
	font-size: 14px;
}

.checklist li div {
	float: left;
	margin-right: 23px;
	margin-top: 4px;
}

.checkbox div:nth-child(3) {
	margin-top: 5px;
}

.checkbox div:nth-child(3) span {
	color: #009BB2;
	font-weight: bold;
}
.total,
.total-disable {
	float: right;
	color: #80217E;
	padding: 3px 30px;
	border: 1px solid #80217E;
	font-size: 13px;
	margin-right: 103px;
	margin-top: 43px;
}

.total-disable {
	opacity: 0.6;
	cursor: default;
}

.total:hover {
	background: #80217E;
	color: white;
}
.msg-size {
    float: right;
    margin-right: 17px;
    font-weight: bold;
    opacity: 0.5;
    cursor: default;
}