@import "inc/header.css";
@import "inc/timer.css";
@import "inc/menu.css";
@import "inc/footer.css";
@import "inc/fonts.css";

.content {
	width: 1263px;
	overflow: hidden;
	height: 100%;
	margin-top: 30px;
}

.main {
	float: right;
	height: 100%;
	width: 888px;
}

.main .inbox:last-child {
	margin-top: 40px;
}

.h1 {
	color: #009BB2;
	font-family: UbuntuRegular, sans-serif;
	font-size: 26px;
	margin-top: 11px;
	height: 22px;
	text-transform: uppercase;
	font-weight: normal;
}

.inbox {
	margin-top: 23px;
	height: 260px;
	width: 900px;
	margin-bottom: 10px;
}

hr {
	width: 672px;
	color: #009BB2;
	margin-left: 0px;
}

.avatar {
	width: 175px;
	height: 244px;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	float: left;
}

.online {
	background: rgba(107, 32, 107, 0.8);
	height: 22px;
	color: white;
	margin-top: 198px;
}

.online p {
	text-align: center;
	padding-top: 3px;
	font-family: UbuntuRegular, sans-serif;
	font-size: 13px;
}

.info {
	width: 466px;
	height: 244px;
	float: right;
	margin-right: 230px;
}

.name {
	color: #009BB2;
	font-family: UbuntuRegular, sans-serif;
	margin-top: -20px;
	height: 110px;
}

.name a {
	color: #009BB2;
}

.id {
	width: 20px;
	height: 20px;
	margin-top: 26px;
}

.name .id h2 {
	text-transform: uppercase;
	padding-top: 10px;
	margin-top: -26px;
}

.name .id_number {
	height: 20px;
	margin-top: -36px;
	margin-left: 34px;
	font-weight: normal;
	font-size: 18px;
}

.age, .mail, .delete_button, .read_button {
	font-family: UbuntuLight, sans-serif;
}

.age {
	height: 20px;
	margin-top: 45px;
}

.age .age_number {
	margin-top: -20px;
	margin-left: 40px;
}

.delete_button, .read_button {
	float: right;
	background: transparent;
	border: 1px solid #80217E;
	height: 20px;
	width: 103px;
}

button {
	cursor: pointer;
}

.delete_button {
	margin-top: -111px;
	margin-right: 1px;
	color: #80217E;
}

.read_button {
	width: 150px;
	height: 23px;
	margin-top: -46px;
	margin-right: 1px;
	background-color: #80217E;
	color: white;
}

.mail {
	width: 466px;
	font-size: 13px;
	text-align: justify;
	color: black;
}

.bookmarkers ul {
	height: 30px;
	margin-top: 110px;
	margin-left: -53px;
}

.bookmarkers li {
	float: left;
	padding-left: 18px;
}

.input {
	width: 670px;
	height: 246px;
}

.input div p {
	color: #009BB2;
	font-size: 18px;
	font-family: UbuntuRegular, sans-serif;
}

textarea {
	font-family: UbuntuLight, sans-serif;
	font-size: 13px;
	padding: 20px;
	width: 628px;
	height: 110px;
	min-height: 110px;
	max-height: 300px;
	border: 1px solid #009BB2;
	resize: vertical;
}

input[type="file"] {
	position: absolute;
	margin-top: 35px;
	cursor: pointer;
	height: 24px;
	opacity: 0;
	z-index: 5;
}

.wrap {
	width: 115px;
	height: 20px;
	float: left;
	position: absolute;
	opacity: 1;
	margin-top: 35px;
	border: 1px solid #009BB2;
	color: #009BB2;
	text-align: center;
	padding-top: 4px;
	font-size: 14px;
	cursor: pointer;
	z-index: 4;
}

.input button {
	border: 1px solid #80217E;
	background: transparent;
	width: 153px;
	height: 24px;
	text-align: center;
	float: right;
	clear: right;
	cursor: pointer;
}

.input button:hover {
	background: #80217E;
	color: white;
}

/**************************************/

.msg-size {
	text-align: center;
	font-size: 10px;
	font-weight: bold;
	opacity: 0.5;
	cursor: default;
	float: right;
	margin: 12px 0;
}

.letter-errors {
	margin: 0;
	padding: 0 0 20px 20px;
	color: #80217E;
	list-style-type: disc;
	font-size: 0.8em;
}

.foto {
	width: 371px;
	height: 175px;
	margin-top: 20px;
}

.online2 {
	background: #FFFFFF;
	cursor: pointer;
	border: 1px solid #009BB2;
	height: 150px;
	width: 150px;
	float: left;
	margin: 5px 5px 5px 0;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
}

.online2 img {
	float: right;
}

.online2 p {
	padding: 0;
	margin-top: 126px;
	text-align: center;
	font-size: 13px !important;
}

.online2-plus {
	background-image: url("../../img/plus-img.png");
	background-size: 38%;
	background-color: transparent;
}

