@import "inc/header.css";
@import "inc/footer.css";
@import "inc/fonts.css";

.content {
	padding-top: 20px;
	overflow: hidden;
	padding-bottom: 75px;
	height: 100%;
	font-family: UbuntuRegular, sans-serif;
}

.content .left_content {
	float: left;
	width: 45%;
	margin-left: 105px;
}

.content .right_content {
	width: 45%;
	float: right;
}

.content .left_content h1, .content .right_content h1 {
	color: #009BB2;
	margin: 0;
	width: 100%;
	font-size: 26px;
	font-weight: normal;
	text-transform: uppercase;
	word-wrap: break-word;
}

.content .right_content h1 {
	font-weight: 500;
	margin-bottom: 30px;
	margin-left: 20px;
}

.content .left_content h3 {
	margin: 45px 0 0 0;
	color: #951B81;
	font-size: 18px;
	font-weight: normal;
}

.content .left_content p {
	text-align: justify;
	overflow: hidden;
	word-wrap: break-word;
	margin-top: 0;
}

.content .left_content .first {
	margin-top: 41px;
}

.girls {
	height: 242px;
	width: 174px;
	float: left;
	margin-left: 25px;
	margin-top: 13px;
	font-family: UbuntuRegular, sans-serif;
	font-size: 15px;
	color: white;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.girls li {
	list-style-type: none;
}

.name_right {
	background: #6A1E69;
	width: 174px;
	height: 22px;
	margin-top: 220px;
	opacity: 0.8;
}

.name_right .names {
	float: left;
	padding-left: 15px;
}

.name_right .old {
	float: right;
	padding-right: 13px;
}

.form {
	background: #222429;
	width: 174px;
	height: 22px;
	opacity: 0.8;
}

.send-right {
	float: left;
	width: 18px;
	height: 11px;
	margin-left: 15px;
	padding-top: 2px;
}

.send-right:last-child {
	float: right;
	margin-right: 9px;
}

.girls a[href="#popupLogin"] {
	color: white;
}
