@import "inc/header.css";
@import "inc/footer.css";
@import "inc/fonts.css";

.content {
	width: 1263px;
	overflow: hidden;
	height: 1160px;
}

/*Start Online*/
.online {
	clear: both;
	height: 315px;
	margin-top: 25px;
}

h1 {
	text-transform: uppercase;
	font-size: 28px;
	font-family: UbuntuRegular, sans-serif;
	color: #4D97A7;
	margin: 0 0 21px 20px;
	font-weight: normal;
	padding: 0;
}

.online .girls:nth-child(2) {
	margin-left: 20px;
}

.online .girls:last-child {
	margin-right: 0;
}

.girls {
	float: left;
	margin-right: 36px;
	font-family: UbuntuRegular, sans-serif;
	font-size: 15px;
	color: white;
	position: relative;
	width: 175px;
	height: 244px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.girls li {
	list-style-type: none;
}

.online .name {
	background-color: rgba(128, 33, 126, 0.7);
	position: absolute;
	bottom: 0;
	margin: 0;
	height: 23px;
	line-height: 1.5;
}

.online a {
	color: white;
}

.names {
	float: left;
	width: 127px;
	margin-left: -40px;
	padding-left: 15px;
	text-align: center;
}

.old {
	float: right;
	background-color: rgba(128, 33, 126, 0.7);
	width: 32px;
	clear: right;
}

.online .form {
	width: 185px;
	margin-left: -50px;
}

.send {
	height: 19px;
	width: 32px;
	float: left;
	background-color: rgba(0, 0, 0, 0.5);
	padding-top: 2px;
}

.send:first-child {
	padding-left: 14px;
	margin-left: 10px;
}

/*End Online*/
/*Start STORY*/
.story {
	height: 310px;
	background: url("../../img/story.png") no-repeat;
	background-size: 1263px 310px;
	clear: none;
}

h2 {
	width: 506px;
	color: #FFFFFF;
	font-family: UbuntuRegular, sans-serif;
	margin: 29px 109px 0 0;
	float: right;
	font-weight: normal;
	font-size: 26px;
	word-spacing: 5px;
	letter-spacing: 1px;
}

#Main {
	height: 157px;
	width: 499px;
	margin-top: 69px;
	margin-right: -500px;
	font-family: UbuntuLight, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
	float: right;
	text-align: justify;
	clear: left;
}

.story > #Main p {
	margin-bottom: 0;
}

.story > #Main p:last-child {
	margin: 0;
}

.story a {
	float: left;
	padding: 7px 36px;
	border: 2px solid #80217E;
	font-family: UbuntuRegular, sans-serif;
	font-weight: lighter;
	margin-left: 651px;
	margin-top: 16px;
	background: transparent;
}

.story a, x:-moz-any-link {
	margin-top: 179px;
}

.story a:hover {
	background: #80217E;
	color: white;
}

/*END STORY*/
/*Start NEWS*/
.news {
	width: 1263px;
	height: 378px;
	margin-top: 27px;
}

h4 {
	color: #80217E;
	font-size: 20px;
	font-family: UbuntuRegular, sans-serif;
	font-weight: normal;
}

p {
	font-family: UbuntuLight, sans-serif;
	font-size: 15px;
	text-align: justify;
}

.news > p a {
	color: white;
}

.news p {
	font-size: 13px;
}

#left {
	float: left;
	width: 1260px;
	height: 500px;
	margin-left: 21px;
}

#right {
	float: right;
	width: 591px;
	height: 500px;
	margin-right: 20px;
}

#left .news1 {
	float: left;
	width: 300px;
	height: 160px;
	margin: -37px 5px 62px 5px;
	overflow: hidden;
	text-overflow: ellipsis;
}

#left .news1:nth-child(2), #left .news1:nth-child(4), #left h1, #right h1 {
	margin-left: 0;
}

#left h1, #right h1 {
	margin-bottom: 34px;
}

iframe {
	margin-top: -6px;
	width: 591px;
	height: 310px;
}
