@import "inc/header.css";
@import "inc/footer.css";
@import "inc/fonts.css";

.content {
	padding-top: 40px;
	overflow: hidden;
	margin-bottom: 50px;
	height: 100%;
}

.content {
	font-family: UbuntuRegular, sans-serif;
}

.content .left_content {
	float: left;
	width: 45%;
	margin-left: 126px;
}

.content .right_content {
	width: 41%;
	float: right;
}

.content .left_content .story {
	margin-bottom: 23px;
	overflow: hidden;
}

.content .left_content h1, .content .right_content h1 {
	color: #009BB2;
	margin: 0 0 46px 0;
	width: 100%;
	font-size: 26px;
	font-weight: normal;
	text-transform: uppercase;
}

.content .right_content h1 {
	margin-left: 23px;
	overflow: hidden;
}

.content .left_content h2 {
	margin: 13px 0 0 0;
	color: #951B81;
	font-size: 26px;
	font-weight: normal;
	text-transform: uppercase;
	width: 100%;
}

.story-title-padding {
	padding-left: 150px;
}

.content .left_content div div {
	width: 100%;
	text-align: left;
	font-size: 14px;
	font-family: UbuntuRegular, sans-serif;
	margin-top: 10px;
}

.content .left_content .story-content-margin {
	margin-top: 34px;
}

.content .left_content .story-img {
	width: 150px;
	height: 150px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	float: left;
	margin: 20px 0 0 0;
}

.content .left_content div span {
	font-weight: bold;
}

.girls {
	height: 242px;
	width: 174px;
	float: left;
	margin-left: 25px;
	margin-top: 13px;
	font-family: UbuntuRegular, sans-serif;
	font-size: 15px;
	color: white;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.girls li {
	list-style-type: none;
}

.name_right {
	background: #6A1E69;
	width: 174px;
	height: 22px;
	margin-top: 220px;
	opacity: 0.8;
}

.name_right .names {
	float: left;
	padding-left: 15px;
}

.name_right .old {
	float: right;
	padding-right: 13px;
}

.form {
	background: #222429;
	width: 174px;
	height: 22px;
	opacity: 0.8;
}

.send-right {
	float: left;
	width: 18px;
	height: 11px;
	margin-left: 15px;
	padding-top: 2px;
}

.send-right:last-child {
	float: right;
	margin-right: 9px;
}

.girls a[href="#popupLogin"] {
	color: white;
}
