@import "inc/header.css";
@import "inc/footer.css";
@import "inc/fonts.css";

.content {
	padding-top: 40px;
	overflow: hidden;
	padding-bottom: 152px;
	height: 100%;
	font-family: UbuntuRegular, sans-serif;
}

.content h1 {
	text-transform: uppercase;
	font-size: 26px;
	margin: 0;
}

.content h1, .content h3 {
	text-align: left;
	font-weight: normal;
	color: #009BB2;
	margin-left: 395px;
}

.content form {
	float: left;
	margin: 40px 0 0 395px;
	width: 440px;
	height: auto;
}

.content form label {
	font-size: 11px;
	padding-left: 0;
}

.content form input {
	border: 1px solid #009BB2;
	padding: 1px 3px;
	font-size: 12px;
	width: 190px;
}

.content form div:first-child {
	float: left;
}

.content form div:last-child {
	float: right;
}

.content h3 {
	font-size: 18px;
	width: 50%;
	margin-top: 70px;
	float: left;
}

.content > p {
	width: 35%;
	margin: 0 0 20px 395px;
	text-align: justify;
	font-size: 13px;
}

.content > a div:last-child {
	float: right;
	margin: 10px 427px 0 0;
	border: 1px solid #951B81;
	font-size: 13px;
	color: #951B81;
	padding: 1px 56px;
}

.content > a div:last-child:hover {
	background: #951B81;
	color: white;
}