/* font-family: "MyriadProRegular"; */
/* font-family: "MyriadProRegular"; */
@font-face {
	font-family: "MyriadProRegular";
	src: url("../../../fonts/MyriadProRegular/MyriadProRegular.eot");
	src: url("../../../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix") format("embedded-opentype"),
	url("../../../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
	url("../../../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

/* font-family: "UbuntuRegular"; */
@font-face {
	font-family: "UbuntuRegular";
	src: url("../../../fonts/UbuntuRegular/UbuntuRegular.eot");
	src: url("../../../fonts/UbuntuRegular/UbuntuRegular.eot?#iefix") format("embedded-opentype"),
	url("../../../fonts/UbuntuRegular/UbuntuRegular.woff") format("woff"),
	url("../../../fonts/UbuntuRegular/UbuntuRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

/* font-family: "UbuntuLight"; */
@font-face {
	font-family: "UbuntuLight";
	src: url("../../../fonts/UbuntuLight/UbuntuLight.eot");
	src: url("../../../fonts/UbuntuLight/UbuntuLight.eot?#iefix") format("embedded-opentype"),
	url("../../../fonts/UbuntuLight/UbuntuLight.woff") format("woff"),
	url("../../../fonts/UbuntuLight/UbuntuLight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
