.footer {
	position: absolute;
	width: 1263px;
	height: 93px;
	background-color: #575757;
}

.footer div a {
	color: white;
}

#SmallLogo {
	float: left;
	margin: 20px 0 10px;
	background: url("../../../img/melodyOfLoveSmall.svg") no-repeat;
	width: 272px;
	height: 52px;
	background-size: 100% 100%;
}

.footer ul li, .lang {
	/* BEGIN hide social buttons */
	margin: 55px 0 0 128px;
	/*   END hide social buttons */
	list-style-type: none;
	float: left;
}

.footer div ul .social:first-child {
	margin-left: 183px;
}

.footer div ul .social {
	margin-left: 11px;
	margin-top: 12px;
}

.footer div p {
	float: right;
	margin-top: 5px;
	margin-right: 80px;
	font-size: 15px;
	font-family: UbuntuLight, sans-serif;
	color: white;
}

.footer-social-buttons {
	/* BEGIN hide social buttons */
	opacity: 0;
	/*   END hide social buttons */
}

.footer-copyright {
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translateY(-50%);
	font-size: 15px;
	font-family: UbuntuLight, sans-serif;
	color: white;
	text-align: right;
}

.footer-links {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 15px;
	font-family: UbuntuLight, sans-serif;
}
