html {
	margin: -8px auto;
}

body {
	height: 100%;
	width: 1263px;
	margin: 0 auto;
}

.wrapper {
	min-height: 100%;
	position: relative;
}

.header {
	height: 581px;
	width: 1263px;
	clear: both;
	background: url("../../../img/header.png") no-repeat;
	background-size: 1263px 581px;
	overflow: hidden;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: white;
}

h3, .lang, .head, .story a, #last {
	font-family: UbuntuRegular, sans-serif;
	font-size: 25px;
	text-align: center;
}

h3 {
	color: #FFFFFF;
}

.header ul li, .lang {
	float: left;
	margin-top: 35px;
}

.header ul .social:first-child {
	margin-left: 88px;
}

.header ul > .social {
	margin-left: 16px;
}

.lang {
	border: 1px solid #4D97A7;
	text-transform: uppercase;
	width: 127px;
	height: 44px;
	margin-left: 25px;
	font-size: 18px;
	font-weight: bold;
}

.ru {
	border-right: 2px solid #4D97A7;
	width: 20px;
	float: left;
	margin-left: 15px;
	margin-top: 10px;
	padding-right: 28px;
	color: #4D97A7;
}

.ru:hover {
	color: #80217E;
}

.eng {
	float: right;
	width: 19px;
	color: #4D97A7;
	margin-right: 30px;
	margin-top: 10px;
	padding-left: 12px;
}

.eng:hover {
	color: #80217E;
}

.header #logo {
	margin-left: 138px;
	margin-top: 173px;
}

.header #logo img {
	width: 400px;
	height: 81px;
}

.head {
	padding: 7px 35px;
	text-align: center;
	border: 2px solid #80217E;
	float: left;
	margin-top: 149px;
	margin-left: 39px;
	font-family: UbuntuRegular, sans-serif;
	font-weight: lighter;
	font-size: 23px;
}

/*.header div div a.head:first-child {
	padding: 7px 51px;
	}*/

	#first {
		margin-left: 128px;
	}

	#last {
		float: right;
		margin-right: -387px;
		margin-top: 237px;
		border: 2px solid #80217E;
		padding: 7px 32px;
		background-color: #80217E;
		cursor: pointer;
		color: white;
	}

	.head:hover {
		background-color: #80217E;
		color: #FFFFFF;
		cursor: pointer;
	}

	.registration {
		width: 386px;
		height: 419px;
		background: url("../../../img/registration.png") no-repeat;
		background-size: 386px 419px;
		margin-top: -203px;
		margin-right: 119px;
		font-family: UbuntuLight, sans-serif;
		color: #FFFFFF;
		font-size: 18px;
		float: right;
	}

	h5 {
		font-size: 27px;
		padding-left: 24px;
		height: 3px;
		margin-top: 19px;
		margin-bottom: 53px;
		font-family: UbuntuLight, sans-serif;
		font-weight: normal;
	}

	label {
		padding-left: 23px;
	}

	.registration form div {
		height: 29px;
		margin-bottom: 15px;
	}

	.registration form label {
		line-height: 25px;
	}

	.registration input {
		width: 230px;
		height: 19px;
		background: white;
		border: 1px solid #33AFC3;
		float: right;
		margin-right: 28px;
		margin-top: 5px;
	}

	.registration form p {
		float: right;
		margin: 0 30px 0 0;
		font-size: 11px;
	}

	.registration .button {
		background: url("../../../img/facebook-button.png");
		height: 44px;
		width: 151px;
		border: 1px solid #FFFFFF;
		float: right;
		margin: 4px 29px 0 0;
	}

	.registration span p {
		height: 3px;
		font-size: 12px;
		width: 77px;
		float: left;
		margin-left: 125px;
		margin-top: 18px;
	}

	.registration div ul {
		margin-top: 103px;
	}

	.agreement-text {
		font-size: 13px;
		padding: 75px 31px;
	}

	.agreement-text a {
		color: #fff;
	}

	.registration .errors li {
		color: pink;
		width: 332px;
		height: 50px;
		margin-top: -30px;
		margin-left: -15px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	/*start auto*/
	#blanket {
		background-color: #111111;
		opacity: 0.65;
		position: absolute;
		z-index: 9001;
		top: 0;
		left: 0;
		width: 100%;
	}

	button:hover {
		cursor: pointer;
	}

	#popupLogin {
		font-family: UbuntuRegular, sans-serif;
	}

	#popupLogin h1 {
		color: #009CB4;
		text-transform: uppercase;
		font-size: 28px;
		font-family: UbuntuRegular, sans-serif;
		margin-top: 5px;
		margin-left: 0 !important;
		margin-bottom: 20px !important;
	}

	#popupLogin div button {
		float: right;
		background-color: #951B81;
		color: #F1E1EE;
		border: 1px solid white;
		margin-right: 3px;
		margin-top: 10px;
		margin-bottom: 10px;
		padding: 3px 54px;
	}

	#popupLogin label {
		font-size: 13px;
		padding-left: 0 !important;
	}

	#popupLogin input {
		width: 208px;
		height: 20px;
		border: 1px solid #009CB4;
	}

	input[type="checkbox"] + label span {
		display: inline-block;
		width: 22px;
		height: 22px;
		margin: -1px 10px 0 0;
		vertical-align: middle;
		background: url('../../../img/checkbox-none.png') left top no-repeat;
		cursor: pointer;
	}

	input[type="checkbox"]:checked + label span {
		background: url('../../../img/checkbox-ok.png') top no-repeat;
	}

	.rememberme {
		margin-top: 22px;
		margin-bottom: 10px;
	}

	input[type="checkbox"] {
		display: none;
	}

	#popupLogin .rememberme input {
		width: 20px;
	}

	#popupLogin .rememberme label {
		position: relative;
		top: -5px;
	}

	.mail {
		margin-top: 16px;
	}

	.password {
		margin-top: 22px;
	}

	/********************************************/

	.login-errors {
		padding-left: 0;
		color: #951B81;
		/*padding-left:17px - старое значение*/
	}

	.header-social-buttons {
		/* BEGIN hide social buttons */
		display: none;
		/*   END hide social buttons */
	}
