@import "inc/header.css";
@import "inc/footer.css";
@import "inc/fonts.css";

.content {
	padding-top: 40px;
	padding-left: 32px;
	overflow: hidden;
	padding-bottom: 152px;
}

.content h1 {
	color: #5597B9;
	font-size: 26px;
	font-family: UbuntuRegular, sans-serif;
	text-transform: uppercase;
	font-weight: normal;
	width: 232px;
	height: 100%;
	float: left;
	margin: 0;
}

.calendar {
	float: right;
	width: 267px;
	height: auto;
	margin-top: 20px;
	margin-right: 34px;
}

.calendar p {
	font-size: 11px;
	margin: 0;
}

.calendar div {
	float: left;
	width: 120px;
	border: 1px solid #5597B9;
	margin-top: 9px;
}

.calendar div:last-child {
	float: right;
}

.calendar input {
	width: 93px;
	height: 90%;
	float: left;
	border: 0;
	color: #7E7E7E;
	font-size: 11px;
	padding: 3px 3px;
}

.calendar img {
	width: 14px;
	height: 13px;
	margin-left: 3px;
}

table {
	float: left;
	width: 1200px;
	margin-top: 22px;
}

table th {
	color: white;
	background: #5597B9;
	font-size: 14px;
	font-weight: normal;
	padding: 1px 5px;
	text-align: center;
}

table th:first-child {
	width: 180px;
	height: 22px;
}

table td {
	padding: 7px 4px;
	font-weight: bold;
	font-size: 18px;
}

.blue {
	background: #EEF4F8;
}

.content > div:last-child {
	float: right;
	width: 302px;
	text-transform: uppercase;
	color: #5597B9;
	margin-top: 50px;
}

.content > div:last-child div:first-child {
	width: 118px;
	float: left;
	margin-top: 1px;
}

.content > div:last-child div:last-child {
	width: 148px;
	float: left;
	height: auto;
	border: 1px solid #5597B9;
	text-align: center;
}

.user-name {
	color: #80217E;
}

.chat-user-status {
	-webkit-animation: chat-user-status 1.5s linear infinite;
	animation: chat-user-status 1.5s linear infinite;
	margin-top: 2px;
	font-size: 14px;
	float: right;
}

@-webkit-keyframes chat-user-status {
	0% {
		color: rgba(85, 151, 185, 1);
	}
	50% {
		color: rgba(85, 151, 185, 0.3);
	}
	100% {
		color: rgba(85, 151, 185, 1);
	}
}

@keyframes chat-user-status {
	0% {
		color: rgba(85, 151, 185, 1);
	}
	50% {
		color: rgba(85, 151, 185, 0.3);
	}
	100% {
		color: rgba(85, 151, 185, 1);
	}
}

.text-data {
	text-align: right;
	font-size: 16px;
}