@import "inc/header.css";
@import "inc/footer.css";
@import "inc/fonts.css";

.content {
	padding-top: 40px;
	padding-left: 255px;
	overflow: hidden;
	padding-bottom: 152px;
	height: 100%;
	min-height: 400px;
}

.man, .lady {
	float: left;
}

.lady {
	margin-left: 50px;
}

.content h1 {
	color: #5597B9;
	font-size: 26px;
	font-family: UbuntuRegular, sans-serif;
	text-transform: uppercase;
	font-weight: normal;
}

.content .add {
	color: white;
	background: #951B81;
	text-align: center;
	font-size: 14px;
	font-family: UbuntuLight, sans-serif;
	margin-top: 42px;
	padding: 2px 7px;
}

.main_line {
	width: 317px;
	height: 22px;
	margin-top: 25px;
}

.main_line .id, .main_line .name {
	background: #5597B9;
	color: white;
	font-size: 14px;
	font-family: UbuntuLight, sans-serif;
	padding: 2px 0 2px 15px;
}

.main_line .id {
	width: 46px;
	text-transform: uppercase;
	float: left;
}

.main_line .name {
	float: right;
	width: 235px;
}

.spoiler-wrap:hover {
	cursor: pointer;
}

.spoiler-wrap > .spoiler-head .id, .spoiler-wrap > .spoiler-head .name {
	background: #EEF4F8;
	padding: 5px 0 5px 12px;
	font-size: 16px;
}

.spoiler-wrap > .white .id, .spoiler-wrap > .white .name {
	background: white;
}

.spoiler-wrap > .spoiler-head .id {
	width: 49px;
	float: left;
}

.spoiler-wrap > .spoiler-head .name {
	float: right;
	width: 237px;
	color: #951B81;
}

.spoiler-wrap > .spoiler-head .id, .spoiler-wrap > .spoiler-head .name {
	background: #EEF4F8;
	padding: 5px 0 5px 12px;
	font-size: 16px;
}

.spoiler-wrap > .spoiler-head .id {
	width: 49px;
	float: left;
}

.spoiler-wrap > .spoiler-head .name {
	float: right;
	width: 237px;
	color: #951B81;
}

.spoiler-wrap > .unfolded .id, .spoiler-wrap > .unfolded .name {
	color: black;
	font-weight: bold;
}

.spoiler-body {
	width: 317px;
	height: 145px;
	float: right;
}

.email, .password {
	/*float: right;*/
	width: 100%;
	font-size: 13px;
	margin-top: 3px;
}

.email div:first-child,
.password div:first-child {
	width: 85px;
	float: left;
	text-align: right;
	padding-right: 5px;
	font-weight: bold;
}

.email div:last-child,
.password div:last-child {
	float: left;
}

.spoiler-body .usr-button {
	float: right;
	width: 95px;
	height: 16px;
	border: 1px solid #951B81;
	color: #951B81;
	font-size: 13px;
	text-align: center;
	padding-top: 1px;
	margin-left: 5px;
}

.spoiler-body .usr-button:hover {
	color: white;
	background: #951B81;
}

.spoiler-wrap > .white .id, .spoiler-wrap > .white .name {
	background: white;
}

/************************************************************************/

#addUser h1,
#editUser h1 {
	color: #009CB4;
	text-transform: uppercase;
	font-size: 18px;
	font-family: UbuntuRegular, sans-serif;
	text-align: center;
}

#addUser .errors,
#editUser .errors {
	width: 210px;
	padding-left: 0;
	color: #951B81;
	font-size: 12px;
}

#addUser .errors li,
#editUser .errors li {
	padding-top: 5px;
}

#addUser div,
#editUser div {
	margin: 10px 0;
}

#addUser input,
#editUser input {
	width: 208px;
	height: 20px;
	border: 1px solid #009CB4;
}

#addUser p,
#editUser p {
	text-align: right;
	text-transform: lowercase;
	font-size: 12px;
	margin: 5px 5px;
}

#addUser label[for="needLogin"] {
	position: relative;
	top: 5px;
}

#addUser input[type="checkbox"] {
	margin-left: 0;
	display: none;
}

#addUser button[type="submit"],
#editUser button[type="submit"] {
	color: white;
	background: #951B81;
	text-align: center;
	font-size: 14px;
	font-family: UbuntuLight, sans-serif;
	padding: 2px 15px;
	border: none;
	cursor: pointer;
	float: right;
	margin-right: 4px;
}

input[type="checkbox"] + label span {
	display: inline-block;
	width: 22px;
	height: 22px;
	margin: -1px 10px 0 0;
	vertical-align: middle;
	background: url('../../img/checkbox-none.png') left top no-repeat;
	cursor: pointer;
}

input[type="checkbox"]:checked + label span {
	background: url('../../img/checkbox-ok.png') top no-repeat;
}

